.bdLinks {
	 display: flex;
	 flex-wrap: wrap;
	 counter-reset: bd-links;
	 box-sizing: inherit;

}

.bdLink {
	 width: 100%;
	 border-radius: 6px;
	 display: block;
	 font-size: 1.25rem;
	 padding: 1rem 3rem 1.5rem 5rem;
	 position: relative;
	 transition-duration: 86ms;
	 transition-property: background-color,color;
}

.bdLinkName {
	color: #363636;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.25;
	padding: 0;
	margin: 0;
	margin-bottom: .25rem;
	position: relative;
}

.overview {
  width: "75%",
	margin: "0px auto 40px",
	textAlign: "center",
	fontSize: "1.2rem",
	fontWeight: "400"
}
