.v2 .stickero * {
	  outline: none;
		box-sizing: border-box;
		min-width: 400px;
}
.v2 .stickhero {
		background-color: #1281ac;
		font-weight: 300;
		min-height: 50vh;
}

.v2 section.stickhero > .contentRow.is-bottom-left {
		top: 5vh;
		left: 3vw;
		max-width: 80%;
}


.v2 .stickhero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
		font-family: Roboto, sans-serif;
		text-align: left;
		padding: 0;
		margin: 0;
		font-weight: 300;
		word-break: keep-all;
}

.v2 .stickhero.has-background-image h2, 
.v2 .stickhero.has-background-image h3, 
.v2 .stickhero.has-background-image h4, 
.v2 .stickhero.has-background-image h5, 
.v2 .stickhero.has-background-image h6 {
	 color: #fff;
}

.v2 .stickhero.has-background-image h1 {
	 color: #fff;
}

.v2 .stickhero h1 {
		font-family: Roboto, sans-serif;
		font-weight: 300;
		font-size: 46px;
}

.v2 .stickhero h1 strong {
		font-weight: 700;
}

.v2 .stickhero .contentRow {
		display: flex;
}

.v2 .hero .row {
		max-width: 75rem;
		margin-right: 0;
		margin-left: 0;
		display: flex;
		flex-flow: row wrap;
}


.v2 .hero .medium-6 {
		flex: 0 0 50%;
}


.v2 .hero .title {
		font-weight: 300;
}

.v2 .hero .title strong {
		font-weight: 700;
}
