.v2 .hero * {
	  outline: none;
		box-sizing: border-box;
		min-width: 400px;
}
.v2 .hero {
		background-color: #f5f5f5;
		font-weight: 300;
		min-height: 78vh;
}

.v2 section.hero > .contentRow.is-bottom-left {
		top: 30vh;
		left: 3vw;
}

.v2 .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
		font-family: Roboto, sans-serif;
		text-align: left;
		padding: 0;
		margin: 0;
		font-weight: 300;
		word-break: keep-all;
}

.v2 .hero.has-background-image h2, 
.v2 .hero.has-background-image h3, 
.v2 .hero.has-background-image h4, 
.v2 .hero.has-background-image h5, 
.v2 .hero.has-background-image h6 {
	 color: #fff;
}

.v2 .hero.has-background-image h1 {
	 color: #fff;
}

.v2 .hero h1 {
		font-family: Roboto, sans-serif;
}

.v2 .hero h1.xxl {
		font-weight: 300;
		/* font-size: 3..75rem; */
		font-size: 56px;
		line-height: 3.123rem;
}


.v2 .hero h1.xxl strong {
		color: #fff;
		font-weight: 700;
		font-size: 3.75rem;
		text-shadow: 1px 1px rgba(255,255,255,0.5);
		line-height: 3.123rem;
}

.v2 .hero .contentRow {
		display: flex;
}

.v2 .hero .row {
		max-width: 75rem;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-flow: row wrap;
}


.v2 .hero .medium-6 {
		flex: 0 0 50%;
}


.v2 .hero .title {
		font-weight: 300;
}

.v2 .hero .title strong {
		font-weight: 700;
}
