.v2 .sloganhero * {
	  outline: none;
		box-sizing: border-box;
		min-width: 400px;
}
.v2 .sloganhero {
		background-color: #f5f5f5;
		font-weight: 300;
		min-height: 40vh;
}

.v2 section.sloganhero > .contentRow.is-bottom-left {
		top: 5vh;
		left: 3vw;
		max-width: 80%;
}


.v2 .sloganhero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
		font-family: Roboto, sans-serif;
		text-align: left;
		padding: 0;
		margin: 0;
		font-weight: 300;
		word-break: keep-all;
}

.v2 .sloganhero.has-background-image h2, 
.v2 .sloganhero.has-background-image h3, 
.v2 .sloganhero.has-background-image h4, 
.v2 .sloganhero.has-background-image h5, 
.v2 .sloganhero.has-background-image h6 {
	color: #363636;
}

.v2 .sloganhero.has-background-image h1 {
	color: #363636;
}

.v2 .sloganhero h1 {
		font-family: Roboto, sans-serif;
		font-weight: 300;
		font-size: 46px;
		color: rgb(48, 47, 43);
}

.v2 .sloganhero h1 strong {
		font-weight: 700;
		color: rgb(48, 47, 43);
}

.v2 .sloganhero .contentRow {
		display: flex;
}

.v2 .sloganhero .row {
		max-width: 75rem;
		margin-right: 0;
		margin-left: 0;
		display: flex;
		flex-flow: row wrap;
}


.v2 .sloganhero .medium-6 {
		flex: 0 0 100%;
}


.v2 .sloganhero .title {
		font-weight: 300;
}

.v2 .sloganhero .title strong {
		font-weight: 700;
}
