@import url('https://fonts.googleapis.com/css?family=Roboto');

h2.subtitle.cta,
.hero h2.subtitle.cta,
.hero h3.subtitle.cta {
		text-align: center;
}

.is-bottom-left {
	position: relative;
	margin: 0;
	margin-right: 0;
	margin-left: 0;
}

.has-background-image {

}

/** SIZE **/

.is-width-50 {
}

.is-width-100 {
}

.v2 * {
	color: "rgb(51,51,51)";
}

.v2 .is-light * {
	color: #363636;
}

.v2 .v3 *,
.v3 * {
	color: "rgb(51,51,51)";
}


.v2 .content * {
	color: #fff;
}

.v2 .is-light .content * {
	color: #363636;
}

.v2 .is-dark .content * {
	color: "rgb(51,51,51)";
}

.v2 .content h1 {
	font-size: 2.875rem;
	line-height: 3.125rem;
}

.v2 .content h1+h3 {
		margin-top: 2em;
}

.v2 .content h2,
.v2 .content h3 {
		font-size: 1.25rem;
		line-height: 1.5625rem;
		margin: 0;
		padding: 0;
		font-weight: 300;
		word-break: keep-all;
}

.v2 section.hero {
		margin: 0;
}

.v2 .subtitle:not(.is-spaced) + .title {
	 margin-top: 0;
}

.v2 section {
	min-width: 1200px !important ;
}
