
.au * {
  font-size: 18px;
  color: rgb(51,51,51);
}

.au .contact-form p {
  margin-bottom: 45px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

.au input[type=text],
.au input[type=email],
.au textarea {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  color: #979797;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: inherit;
}

.au input[type=text],
.au input[type=email] {
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #979797;
  transition: .3s;
}

.au textarea {
  padding: 10px;
  outline: none !important;
}

.au .contact-form button {
  color: rgb(16, 6, 159);
}


.au .contact-form button:hover {
  color: #fff;
  background: #10069F;
}

/* #f6f9fc 
--blue
--indigo
--pink
--red
--orange
--yellow
--green
--teal
--cyan
--white
--gray
--gray-dark
*/ 
/*
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
*/
/*
   --black: #000;
   --white: #fff;
   --extra-light-gray: #f9f9f9;
   --light-gray: #d3d3d3;
   --dark-gray: #575759;
   --orange: #dd4814;
   --orange-faded: hsl(15, 70%, 94%);
   --red: #da4334;
   --green: #3ebf6a;
   --green-dark: #267340;
   --green-faded: rgba(62, 191, 106, .1);
	 */

.all-left {
	margin-left: 30px;
}
.all-right {
	margin-right: 30px;
}
.all-left * {
  text-align: left;	
  font-family: "Work Sans", sans-serif;
	color: #979797;
  font-size: 16px;
}

.all-right * {
	text-align: right;
  font-family: "Work Sans", sans-serif;
	color: #979797;
  font-size: 16px;
}
.all-centered h3 ,
.all-centered p {
	text-align: center;
  font-family: "Work Sans", sans-serif;
	color: #979797;
  font-size: 16px;
}

.all-right h3,
.all-left h3,
.all-centered h3 {
	font-variant: all-petite-caps;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
	margin-bottom: 20px;
  font-size: 18px;
  color: rgb(51,51,51);
}

.hero-text {
	width: 860px;
	height: 150px;
	font-size: 3.5rem;
	line-height: 1.5em;
	font-weight: 400;
	text-align: center;
	word-break: break-word;
	margin-right: auto;
	margin-left: auto;
	display: block;
	font-family: 'Roboto', Arial, Helvetica;
}


