

/** H3 **/ 

.content h1.xxl {
  font-size: 3.5rem;
	line-height: 3.75rem;
}

.content h1 {
  font-size: 2.875rem;
  line-height: 3.125rem;
}

.content h1+h3 {
	margin-top: 2em;
}

.content h3 {
	font-size: 1.25rem;
	margin-height: 1.5rem;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
	font-family: Roboto,sans-serif;
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: 300;
	word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto,sans-serif;
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: 300;
	word-break: keep-all;
}

.contentRow  {
	background-color: yellow;
  border: solid 1px green;
}

