:root {
	

	--primary:          #ffffff;

	--info:             #ffffff;
	--success:          #ffffff;
	--warning:          #ffffff;
	--danger:           #ffffff;

	--light:            #ffffff;
	--dark:             #ffffff;

	--primary-invert:   #ffffff;
	--primary-light:    #ffffff;
	--primary-dar:      #ffffff;

	--info-invert:      #ffffff;
	--info-light:       #ffffff;
	--info-dark:        #ffffff;

	--success-invert:   #ffffff;
	--success-light:    #ffffff;
	--success-dark:     #ffffff;


	--warning-invert:   #ffffff;
	--warning-light:    #ffffff;
	--warning-dark:     #ffffff;

	--danger-invert:    #ffffff;
	--danger-light:     #ffffff;
	--danger-dark:      #ffffff;

	--light-invert:     #ffffff;
	--dark-invert:      #ffffff;


}
