
/*** INITAL VARIABLES ***/ 

:root {

	/*** COLORS ***/

	--black:           hsl(0,   0%,   4%)   !default;
	--black-bis:       hsl(0,   0%,   4%)   !default;
	--black-ter:       hsl(0,   0%,   4%)   !default;

	--grey-darker:     hsl(0,   0%,   4%)   !default;
	--grey-dark:       hsl(0,   0%,   4%)   !default;
	--grey:            hsl(0,   0%,   4%)   !default;
	--grey-light:      hsl(0,   0%,   4%)   !default;
	--grey-lighter:    hsl(0,   0%,   4%)   !default;
	--grey-lightest:   hsl(0,   0%,   4%)   !default;

	--white:       hsl(0,   0%,   4%)   !default;
	--white-bis:   hsl(0,   0%,   4%)   !default;
	--white-ter:   hsl(0,   0%,   4%)   !default;

	--orange:      hsl(0,   0%,   4%)   !default;
	--yellow:      hsl(0,   0%,   4%)   !default;
	--green:       hsl(0,   0%,   4%)   !default;
	--turquoise:   hsl(0,   0%,   4%)   !default;
	--cyan:        hsl(0,   0%,   4%)   !default;
	--blue:        hsl(0,   0%,   4%)   !default;
	--purple:      hsl(0,   0%,   4%)   !default;
	--red:         hsl(0,   0%,   4%)   !default;



	/***  TYPOGRAPHY ***/

	--family-sans-serif :  "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
	--family-monospace  :  monospace !default;
	--render-mode       :  optimizeLigibility !default;


	--size-1: 3rem !default;
	--size-2: 2.5rem !default;
	--size-3: 2rem !default;
	--size-4: 1.5rem !default;
	--size-5: 1.25rem !default;
	--size-6: 1rem !default;
	--size-7: 0.75rem !default;

	--weight-light: 300 !default;
	--weight-normal: 400 !default;
	--weight-medium: 500 !default;
	--weight-semibold: 600 !default;
	--weight-bold: 700 !default;



	/*** SPACING **/

	--block-spacing: 1.5rem !default;


	/*** RESPONSIVENESS ***/

	--gap: 32px !default;                 /***    The Container Horizontal Gap, which acts as the offset for breakpoints 							 ***/
  --table: 769px !default;              /***    960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16    ***/
	--desktop: 960px + 56px;					    /***   960px + 4 rem or  960px + (2 * $gap) !default  **/
	
}
