/** block.image.module.css **/
/** BLOCK IMAGE **/

.block.image {
 background-repeat: no repeat;
 background-position: center center;
}

.block.image.bgCover,
.block.image.bg-cover {
	background-size: cover;
}

.block.image.bgTop,
.block.image.bg-top {
	background-position: center top;
}

.block.video {
	position: relative;
	min-height: 700px;
	padding-bottom: 132px;
	background-image: 132px;
	transition: .3s 5s cubic-bezier(.75,.75,.25,.5);
	background: #fafafa;
	position: relative;
	overflow: hidden;
}


/** MEDIA BLOCK VIDEO **/

@media only screen and (max-width: 1023px) .block.video {
	min-height: calc(100vh - 140px);
}

@media only screen and (max-height: 800px) .block.video {
	min-height: 80vh;
}

@media only screen and (max-width: 768px) .block.video {
	min-height: 60vh;
}

