/** BLOCK **/

.block {
	padding: 50px 0;
}

section.block:first-of-type {
	padding-top: 200px;
}

.block.dark {
	color: #fff;
}

.block.block.bgWhite, 
.block.block.bg-White,
.block.block.bg-white {
  background-color: #fff;
}

/** MEDIA BLOCK **/ 
@media only screen and (max-width: 768px) .block {
	padding: 3rem 0;
}
