/** general.module.css **/
/** GLOBAL **/ 

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto,sans-serif;
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: 300;
	word-break: keep-all;
}


/** BLOCK IMAGE && VIDEO **/

.image {
	position: relative;
}

.xxl {
			color: red !important;
}


.subtitle {
}

.default {
}

.title {
}


